<services>
    <service name="AddVote">
        <class name="Kernel.Controller.Controlador">
            <method>procesarPeticion</method>
        </class>
        <class name="Kernel.Model.VoteModel">
            <method>addvote</method>
        </class>
    </service>
    <service name="Kernel.RemoveVote">
        <class name="Controller.Controlador">
            <method>procesarPeticion</method>
        </class>
        <class name="Kernel.Model.VoteModel">
            <method>removeVote</method>
        </class>
    </service>
</services>