<services>
    <service name="AddVote">
        <class name="Controller.Controlador">
            <method>procesarPeticion</method>
        </class>
        <class name="Model.VotesModel">
            <method>addvote</method>
        </class>
    </service>
    <service name="RemoveVote">
        <class name="Controller.Controlador">
            <method>procesarPeticion</method>
        </class>
        <class name="Model.VotesModel">
            <method>removeVote</method>
        </class>
    </service>
</services>